td{
    padding: 5px!important;
}
.text-center button{
    background-color: #48a3da;
    color: white;
    border: none;
}
.titleDiv span{
    display: inline-block;
    width: 33%;
    border: 1px solid #48a3da;
    text-align: center;
    color: #48a3da;
    height: 28px;
    line-height: 28px;
    height: 0.56rem;
    line-height: 0.56rem;
}
.active{
    background-color: #48a3da;
    color: white!important;
}